@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'VTF Redzone Classic Oblique';
    src: url('../fonts/VTFRedzone-ClassicOblique.eot');
    src: local('VTF Redzone Classic Oblique'), local('VTFRedzone-ClassicOblique'),
        url('../fonts/VTFRedzone-ClassicOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VTFRedzone-ClassicOblique.woff2') format('woff2'),
        url('../fonts/VTFRedzone-ClassicOblique.woff') format('woff'),
        url('../fonts/VTFRedzone-ClassicOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'VTF Redzone Classic';
    src: url('../fonts/VTFRedzone-Classic.eot');
    src: local('VTF Redzone Classic'), local('VTFRedzone-Classic'),
        url('../fonts/VTFRedzone-Classic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VTFRedzone-Classic.woff2') format('woff2'),
        url('../fonts/VTFRedzone-Classic.woff') format('woff'),
        url('../fonts/VTFRedzone-Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Procreate Signature';
    src: url('../fonts/ProcreateSignatureRegular.eot');
    src: url('../fonts/ProcreateSignatureRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProcreateSignatureRegular.woff2') format('woff2'),
        url('../fonts/ProcreateSignatureRegular.woff') format('woff'),
        url('../fonts/ProcreateSignatureRegular.ttf') format('truetype'),
        url('../fonts/ProcreateSignatureRegular.svg#ProcreateSignatureRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB';
    src: url('../fonts/AgencyFB-Bold.eot');
    src: url('../fonts/AgencyFB-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
        url('../fonts/AgencyFB-Bold.woff') format('woff'),
        url('../fonts/AgencyFB-Bold.ttf') format('truetype'),
        url('../fonts/AgencyFB-Bold.svg#AgencyFB-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box !important;
}
.btn{font-family: "AgencyFB";font-weight: bold;font-size: 26px;text-transform: uppercase;background-image: url(../images/buy-now-img-border.png);background-repeat: no-repeat;padding: 21px 35px;background-size: 100% 100%;background-position: 100% 100%;text-decoration: none;display: inline-block;color: #FFF;}
.btn.btn-black-bordered{background-image: url(../images/buy-now-img-border-black.png);color: #000;}
.container{max-width: 1344px;margin: 0 auto;padding: 0 20px;}
h2{font-family: 'VTF Redzone Classic';color: #000;font-size: 83px;line-height: 1.1;}
p{font-family: "Roboto",sans-serif;font-size: 16px;color: #000;font-weight: 500;}
a{transition: all 0.5s; -webkit-transition: all 0.5s;}
a:hover,a:active,a:focus,a.active{color: #ed2d5b !important;transition: all 0.5s; -webkit-transition: all 0.5s;}


/**General CSS**/
.text-wrapper span{display: block;font-family: 'Procreate Signature' ;color: #ee325b;font-size: 54px;}
/**General CSS**/



/**Header CSS**/
header{background-color: #000;padding: 30px 0;}
header nav{display: flex;justify-content: space-between;}
header nav ul{display: flex;align-items: center;justify-content: space-between;}
header nav ul li:not(.logo){margin-top: 30px;}
header nav ul.link-text{max-width: 382px;}
header nav ul.link-text li{padding: 0 16px;}
header nav ul.link-text li{border-right: 1px solid #FFF;}
header nav ul li:nth-child(4){padding-right: 0;}
header nav ul li:nth-child(4),
header nav ul li:nth-child(6){border-right: 0;}
header nav ul li:nth-child(6){padding: 0 0;}
header nav ul li.logo{padding: 0 55px 0 0;}
header nav ul li.cart-img{padding: 0 25px 0 70px;}
header nav ul li a{font-family: "Catamaran",sans-serif;font-size: 16px;color: #fff;font-weight: 500;text-transform: uppercase;text-decoration: none;}
header nav ul li.logo img{max-width: 414px;}
header nav ul li.btn-blk{padding-right: 44px;}
/**Header CSS**/

/**Banner CSS**/
.banner{padding: 47px 0 80px;background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
.banner .container{max-width: 1252px;}
.banner .banner-slider .slick-list {padding: 0!important;overflow: hidden;max-width: 823px;margin: 0 auto;}
.banner .banner-slider .slick-list .slick-track{overflow: visible;}
.banner .banner-slider .img-blk{text-align: center;position: relative;padding-bottom: 20px;padding-top: 120px;}
.banner .banner-slider .img-blk:after{content: "";position: absolute;top: auto;bottom: -30px;background-image: url(../images/bottle-shadow-layer.png);width: 295px;height: 115px;background-size: 295px 105px;left: -10px;background-repeat: no-repeat;/* background-position: center; */z-index: -1;}
.banner .banner-slider .img-blk img{margin: 0 auto;transition: all 0.5s;}
.banner .banner-slider .slick-center .img-blk{padding-top: 0;}
.banner .banner-slider .slick-center .img-blk img{height: 700px;transition: all 0.5s;}
.banner .banner-slider .slick-prev{background-image: url(../images/ic-left-arrow.png) !important;left: 0;width: 48px;height: 48px;background-repeat: no-repeat;}
.banner .banner-slider .slick-next{background-image: url(../images/ic-right-arrow.png) !important;width: 48px;height: 48px;right: 0;background-repeat: no-repeat;}
.banner .banner-slider .slick-prev:before,.banner .banner-slider .slick-next:before {content: none;opacity: 1;}
.banner .title p{font-family: "AgencyFB";font-weight: bold;font-size: 60px;text-shadow: 2px 2px #231f20;color: #FFF;text-transform: uppercase;text-align: center;}

/**Banner CSS**/

/**Our Story CSS**/
.our-story{padding: 292px 0 147px;background-position: center;background-repeat: no-repeat;background-size: cover;}
.our-story .section-wrapper{display: flex;/* justify-content: space-between; */gap: 65px;}
.our-story .section-wrapper .left{flex: 0 0 479px;max-width: 479px;}
.our-story .section-wrapper .right{flex: 0 0 calc(100% - 479px);max-width: calc(100% - 479px);}
.our-story .section-wrapper .story-inner-wrapper{max-width: 637px;}
.our-story .section-wrapper h2{text-align: center;margin-bottom: 44px;}
.our-story .section-wrapper p:not(:last-child){margin-bottom: 24px;}
.our-story .section-wrapper .right img{margin-bottom: 22px;}
.our-story .section-wrapper .btn-blk{text-align: center;}
/**Our Story CSS**/

/**Unique Process CSS**/
.unique-process{background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;padding: 238px 0 186px;}
.unique-process:before{content: "";position: absolute;width: 100%;height: 100%;background: rgb(0,0,0);background: linear-gradient(41deg, rgba(0,0,0,1) 0%, transparent 90%);top: 0;left: 0;}
.unique-process .container{z-index: 1;position: relative;}
.unique-process ul{margin-bottom: 44px;}
.unique-process ul li{color: #FFF;font-family: "Roboto",sans-serif;font-size: 16px;}
.unique-process ul li:not(:last-child){margin-bottom: 20px;}
.unique-process .section-wrapper{display: flex;/* justify-content: space-between; */gap: 92px;align-items: center;}
.unique-process .section-wrapper .left{flex: 0 0 50%;max-width: 50%;}
.unique-process .section-wrapper .right{flex: 0 0 50%;max-width: 50%;}
.unique-process .section-wrapper h2{text-align: center;margin-bottom: 44px;color: #FFF;}
.unique-process .section-wrapper p:not(:last-child){margin-bottom: 24px;}
.unique-process .section-wrapper .buy-now-btn-black{display: inline-block;}
.unique-process .section-wrapper .right img{margin-bottom: 22px;}
.unique-process .section-wrapper .btn-blk{text-align: center;}
.unique-process .section-wrapper .img-blk{position: relative;}
.unique-process .section-wrapper .img-blk img.badge-img{position: absolute;top: -50px;left: -50px;margin-bottom: 0;}
/**Unique Process CSS**/

/**Taquilas CSS**/
.tequilla{padding: 200px 0;overflow: hidden;background-size: 100%;}
.tequilla-type{position: relative;}
.taquila-inner{display: flex;align-items: center;}
.taquila-inner:nth-child(even){flex-direction: row-reverse;}
.taquila-inner:nth-child(even) .left-col {flex-direction: row-reverse;padding-left: 60px;padding-right: 0;}
.taquila-inner:nth-child(even) .right-col P{margin-left: auto;}
.taquila-inner:nth-child(even) .right-col{text-align: right;}
.taquila-inner:nth-child(even) .left-title img{left: -175px;right: auto;}
.tequilla .text-wrapper{position: absolute;left: 55%;top: 40px;}
.tequilla .text-wrapper h2{font-size: 63px;}
.tequilla .text-wrapper span{font-size: 37px;padding-right: 40px;}
.taquila-inner .left-title{position: relative; padding:0 20px;}
.taquila-inner .left-title img{position: absolute;right: -175px;width: 1000px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.taquila-inner .left-title h2{font-size: 48px;letter-spacing: 5px;color: #231f20;font-family: "AgencyFB";font-weight: 300;text-align: center;filter: drop-shadow(0px 2px 2.5px rgba(5,5,5,0.35));}
.taquila-inner .left-title span{font-size: 22px;letter-spacing: 2px;color: #231f20;font-weight: bold;font-family: "AgencyFB";text-align: center;filter: drop-shadow(0px 3px 4px rgba(5,5,5,0.2));display: block;}
.taquila-inner .left-col{flex: 0 0 48%;max-width: 48%;display: inline-flex;align-items: center;justify-content: flex-end;padding-right: 60px;}
.taquila-inner .right-col{flex: 0 0 52%;max-width: 52%;padding-top: 90px;}
.taquila-inner .left-col .img-btl{position: relative;z-index: 1;height: 455px;margin-bottom: 60px;}
.taquila-inner .right-col .btn{margin-top: 30px;}
.taquila-inner .right-col p{font-size: 16px;letter-spacing: 1px;line-height: 21px;color: #050505;font-family: "Roboto", sans-serif;max-width: 500px;}
.taquila-inner .right-col p span{color: #ed2d5b;}
/**Taquilas CSS**/


/**Cocktails CSS**/
.cocktail-wrapper {padding: 200px 0 64px;background-size: 100%;}
.cocktail-wrapper .text-wrapper h2{font-size: 92px;letter-spacing: 5px;color: #fefefe;}
.cocktail-wrapper .text-wrapper{text-align: center;}
.cocktail-wrapper p{font-size: 29px;line-height: 1.7;color: #fefefe;font-family: "Roboto";text-align: center;filter: drop-shadow(0 0 2.5px #231f20);}
.cocktail-section{overflow: hidden;}
.cocktail-wrapper .slick-list{overflow: visible;}
.cocktail-wrapper .slick-slide{padding: 0 25px;}
.cocktail-slide h3{font-size: 42px;letter-spacing: 4px;color: #fefefe;font-family: "AgencyFB";display: block;text-align: center;width: 100%;align-self: flex-end;}
.cocktail-slide{width: 417px !important;height: 458px;background-image: linear-gradient(180deg, #494949 0%, #494949 17%, #050505 100%);display: inline-flex !important;align-items: center;justify-content: center;flex-wrap: wrap;padding: 50px 20px;}
/**Cocktails CSS**/


/**Event CSS**/
.event-section{padding: 200px 0 150px;background-size: 100%;}
.event-section .text-wrapper h2{text-align: center;padding-bottom: 40px;}
.event-section .text-wrapper span{font-size: 49px;text-align: center; padding-right: 110px;}
.event-section .left-col p{font-size: 23px;line-height: 1.8;color: #050505;font-weight: 400;font-family: "Open Sans";text-align: center;padding-bottom: 50px;}
.event-wrapper{display: flex;}
.event-section .left-col,
.event-section .right-col{flex: 0 0 50%;max-width: 50%;text-align: center;}
.event-list-wrapper{display: flex;flex-wrap: wrap;}
.event-list-wrapper .event-item{flex: 0 0 50%;max-width: 50%;padding: 25px;justify-content: center;}
.event-item > div{cursor: pointer;height: 100%;width: 100%;min-height: 139px;background-repeat: no-repeat;background-size: cover;display: inline-flex;align-items: center;flex-wrap: wrap;justify-content: center;}
.event-item p{font-size: 45px;letter-spacing: 1px;color: #fefefe;font-weight: bold;font-family: "Roboto";text-align: center;line-height: 1.3;}
.event-item p b{font-size: 43px;}
.event-item span{
    font-size: 31px;
    color: #fefefe;
    font-weight: bold;
    font-family: "Roboto";
    display: block;
}
.event-data{position: relative;}
.event-list-inner-wrapper .event-inner-item.right{
    flex-direction: row-reverse;
}
.event-list-inner-wrapper .event-inner-item.left-middle .img-col img,
.event-list-inner-wrapper .event-inner-item.right-middle .img-col img{
    height: 170px;
    object-fit: cover;
}
.event-list-inner-wrapper .event-inner-item.left-bottom,
.event-list-inner-wrapper .event-inner-item.right-bottom{
    align-items: flex-start;
}
.event-list-inner-wrapper .event-inner-item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: none;
    align-items: flex-end;
}
.event-inner-item .img-col img{
    width: 100%;
    height: 360px;
}
.event-inner-item .info-col,
.event-inner-item .img-col{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 22px 25px;
}
.event-list-inner-wrapper .event-inner-item.open-item{
    display: flex;
    z-index: 1;
}
.event-inner-item .info-col .info-inner .close-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}
.event-inner-item .info-col .info-inner{
    background-color: #c0bfbf;
    padding: 30px 15px 0;
    position: relative;
}
.event-inner-item p{
    padding-bottom: 15px;
}
.event-inner-item p,
.event-inner-item b,
.event-inner-item a,
.event-inner-item span{
    font-size: 18px;
    letter-spacing: 1px;
    color: #fefefe;
    font-weight: bold;
    font-family: "Roboto";
    text-align: left;
}
/**Event CSS**/

/**Social CSS**/
.social-section{background-size: 100%;}
.social-wrapper{display: flex; flex-wrap: wrap; align-items: center; padding: 150px 0;}
.social-wrapper .left-col, .social-wrapper .right-col{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}
.social-wrapper .text-wrapper h2{
    text-align: center;
    color: #FFF;
}
.social-wrapper .text-wrapper span{    text-align: center;
    padding-right: 150px;}
.social-wrapper p{
    font-size: 22px;
    line-height: 1.8;
    color: #fefefe;
    max-width: 469px;
    margin: 0 auto;
    padding: 40px 0 60px;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}
.social-items {
    text-align: center;
}
.social-items a{
    margin: 0 15px;
    display: inline-block;
}
.social-link-slef{
    font-size: 23px;
    letter-spacing: 2px;
    color: #fefefe;
    font-family: "AgencyFB";
    text-decoration: none;
    margin: 25px auto;
    text-align: center;
    display: inline-block;
}
/**Social CSS**/
/**Footer CSS**/
.site-footer{
    background-color: #060505;
    padding: 50px 0;
}
.site-footer h3{
    font-size: 20px;
    line-height: 27px;
    color: #fefefe;
    font-weight: 600;
    font-family: "Open Sans";
    padding-bottom: 20px;
}
.site-footer p,
.site-footer a{
    font-size: 15px;
    line-height: 30px;
    color: #8b94a5;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-wrapper .footer-item a.call{
    font-size: 22px;
    line-height: 49px;
    color: #949598;
    font-weight: 700;
}
.footer-wrapper .footer-item p{
    max-width: 500px;
}
.footer-wrapper .footer-item{
    padding: 0 25px;
}

.footer-navigation a{
    display: block;
}
.footer-item .social-items{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.footer-item .social-items a{
    display: inline-flex;
    padding: 4px;
    border: 1px solid #424b57;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.footer-bottom{
    border-top: 1px solid rgba(254, 254, 254, 0.15);
    padding: 15px 0;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}
/**Footer CSS**/